<%= render("_menu.html", assigns) %>
<section class="settings">
  <h4>Personal Access Token</h4>
  <p>
    <dl>
      <dt>Your token:</dt>
      <dd><code><%= @token %></code></dd>
    </dl>
  </p>
  This access token <strong>will never be shown to you again</strong>. Keep this secret.
  <p>
    <a class="button" href={Routes.oauth_path(@conn, :show)}>Continue</a>
  </p>
</section>
