<h3>Registration</h3>
<%= form_for @changeset, Routes.registration_path(@conn, :create), fn f -> %>
  <fieldset>
  <%= input f, :username %>
  <%= input f, :email %>
  <%= input f, :password %>
  </fieldset>
  <%= submit "Submit" %>
<% end %>