<%= if logged_in?(@conn) do %>
 <span>Logged in as <span class="strong"><%= current_user(@conn).username %></span></span> <span>—</span>
 <%# Using a form instead of a link, since the route for signing out requires making a DELETE call and we don't want to rely on JS being activated %>
 <%= form_for :nil, Routes.session_path(@conn, :delete), [method: :delete, itemprop: "signout"], fn _f -> %>
  <%= submit "Log out" %>
 <% end %>
<% else %>
 <%= link "Log in", to: Routes.session_path(@conn, :new) %> <span>—</span>
 <%= link "Register", to: Routes.registration_path(@conn, :new) %>
<% end %>