// color palette
$light-blue: #CDECFF;
$navy: #001B44;
$red: #FF4136;
$washed-red: #FFDFDF;

// theme colors
$foreground: #000000;
$background: #FFFFFF;

$muted: #777777;
$strong: #000000;

// spacing
$spacing-small:  .5rem;
$spacing-medium: 1rem;
$spacing-large:  2rem;

// media queries relating to screen sizes
$not-small: "screen and (min-width: 48em)";
$large: "screen and (min-width: 64em)";
$extra-large: "screen and (min-width: 120em)"