// color palette
$light-blue: #CDECFF;
$navy: #001B44;
$red: #FF4136;
$washed-red: #FFDFDF;

  // theme colors
$foreground: #000000;
$background: #FFFFFF;

$muted: #777777;
$highlight-fg: #000000;


  // spacing
$spacing-small:  .5rem;
$spacing-medium: 1rem;
$spacing-large:  2rem;
