// color palette
$dark-green: #137752;
$gray: #777777;
$light-blue: #CDECFF;
$light-green: #9EEBCF;
$light-yellow: #FBF1A9;
$navy: #001B44;
$near-black: #111111;
$red: #FF4136;
$washed-red: #FFDFDF;
$white: #FFFFFF;

// theme colors
$foreground: $near-black;
$background: $white;
$muted: $gray;
$strong: $near-black;

// spacing
$spacing-small:  .5rem;
$spacing-medium: 1rem;
$spacing-large:  2rem;

// media queries relating to screen sizes
$not-small: "screen and (min-width: 48em)";
$large: "screen and (min-width: 64em)";
$extra-large: "screen and (min-width: 120em)"