@import "~normalize.css/normalize.css";
@import "variables";

body {
    background-color: $background;
    color: $foreground;
    font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
    font-size: .875rem;
    max-width: 100%;
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;

    @media #{$not-small} {
        font-size: 1rem;
    }

    @media #{$extra-large} {
        max-width: 120rem;
    }
}

.strong {
    color: $strong;
}

@mixin banner($fg-color, $bg-color) {
    align-items: center;
    background-color: $bg-color;
    color: $fg-color;
    display: flex;
    justify-content: center;
    padding: $spacing-large;
    & span {
        line-height: 1.25;
    }
}

div.info {
    @include banner($navy, $light-blue);
}

div.error {
    @include banner($red, $washed-red);
}

a {
    color: $foreground;
    text-decoration: none;
    transition: color .15s ease-in;

    &:hover {
        text-decoration: underline;
        transition: color .15s ease-in;
    }

    &:link, &:visited {
        transition: color .15s ease-in;
    }

    &:active {
        transition: color .15s ease-in;
    }

    &:focus {
        text-decoration: underline;
        transition: color .15s ease-in;
        outline: 1px dotted currentColor;
    }
}

fieldset {
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    margin: 0;
    padding: 0;

    & input, & textarea {
        border-color: $muted;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        margin-bottom: $spacing-small;
        padding: $spacing-small;
    }

    & input:not([type=checkbox]), & textarea {
        display: block;
        width: 100%;
    }

    & input[type=checkbox] {
        margin-bottom: 0;
        margin-right: $spacing-small;
        vertical-align: middle;
    }

    & label {
        display: inline-block;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        text-transform: uppercase;
        vertical-align: middle;
    }

    & div.invalid {
        & input {
            background-color: $washed-red;
            color: $red;
        }

        & ul {
            color: $red;
            list-style: none;
            margin: 0 0 $spacing-small;
            padding: 0;
        }
    }
}

form:not([itemprop="signout"]) {
    max-width: 34em;

    & button, a {
        background-color: transparent;
        border-color: $muted;
        border-style: solid;
        border-width: 1px;
        display: inline-block;
        float: right;
        font-weight: bold;
        margin-left: $spacing-small;
        padding: $spacing-small $spacing-medium;

        &:hover {
            cursor: pointer;
            text-decoration: none;
        }
    }
}

button, input:not([type=checkbox]) {
    -moz-appearance: none;
    -webkit-appearance: none;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

nav {
    color: $muted;
    display: flex;
    justify-content: space-between;
    padding-bottom: $spacing-small;
    padding-top: $spacing-small;
}

nav a.brand {
    color: $foreground;
    font-weight: bold;
    opacity: 1;
    transition: opacity .15s ease-in;

    &:hover, &:focus {
        opacity: .5;
        text-decoration: none;
        transition: opacity .15s ease-in;
    }

    &:active {
        opacity: .8;
        transition: opacity .15s ease-out;
    }
}

// The sign out button should be styled exactly like an action link
nav form[itemprop="signout"] {
    display: inline-block;
    padding: 0;

    & > button {
        background-color: transparent;
        border: none;
        font-weight: normal;
        padding: 0;
        @extend a;
    }
}

