@import "variables";
@import "svgs";

html, body {
    height: 100%;
}

body {
    background-color: $background;
    color: $foreground;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
    font-size: 1rem;
    max-width: 100%;

    @media #{$extra-large} {
        max-width: 120rem;
    }
}

input {
    font-size: 1rem;
}

hr, .no-css-label {
    display: none;
}

header, main, footer {
    padding: $spacing-tiny;
}

main, footer {
    & > div > * {
        margin-left: $spacing-tiny;
        margin-right: $spacing-tiny;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
}

footer {
    color: $muted;
    font-size: $font-tiny;
    margin-top: auto;
    & a {
        color: $muted;
        text-decoration: underline;
    }
}

.strong {
    color: $strong;
}

@mixin banner($fg-color, $bg-color) {
    align-items: center;
    background-color: $bg-color;
    color: $fg-color;
    display: flex;
    justify-content: center;
    margin-left: $spacing-tiny;
    margin-right: $spacing-tiny;
    padding: $spacing-large;

    & > span {
        line-height: 1.25;
        margin-left: $spacing-small;
    }

    & > svg {
        width: 1rem;
    }
}

@mixin link-title() {
    font-weight: normal;
    margin-bottom: 2px;

    & > a {
        color: $blue;
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: baseline;
        white-space: nowrap;
    }
}

@mixin link-url() {
    font-size: $font-tiny;
    line-height: 1rem;
    margin-bottom: $spacing-tiny;
    word-break: break-word;
    overflow: hidden;

    & > a, & > span {
        color: $dark-green;
        display: inline-block;
        max-width: 100%;
        overflow-x: hidden;
        text-overflow: ellipsis;
        vertical-align: baseline;
        white-space: nowrap;
    }
}

@mixin link-actions() {
    & > ul.actions {
        display: inline;
        font-weight: bold;
        list-style: none;
        margin: 0;
        padding: 0;

        & > li {
            color: $muted;
            display: inline-block;
            font-size: $font-tiny;

            & > a {
                color: $muted;
            }

            &:not(:first-child)::before {
                content: "\007C";
                font-weight: normal;
            }
        }

        & form {
            display: inline-block;
            padding: 0;

            & > button {
                background-color: transparent;
                border: none;
                color: $muted;
                font-size: $font-tiny;
                font-weight: bold;
                padding: 0;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}

div.info {
    @include banner($navy, $light-blue);
}

div.error {
    @include banner($red, $washed-red);
}

a:not(.doc) {
    color: $foreground;
    text-decoration: none;
    transition: color .15s ease-in;

    &:hover {
        text-decoration: underline;
        transition: color .15s ease-in;
    }

    &:link, &:visited {
        transition: color .15s ease-in;
    }

    &:active {
        transition: color .15s ease-in;
    }

    &:focus {
        text-decoration: underline;
        transition: color .15s ease-in;
        outline: 1px dotted currentColor;
    }
}

fieldset {
    border-color: transparent;
    border-width: 0;
    border-style: solid;
    margin: 0;
    padding: 0;

    & input, & textarea {
        border-color: $muted;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        margin-bottom: $spacing-small;
        padding: $spacing-small;
    }

    & textarea {
        resize: vertical;
        overflow: auto;
        height: 10em;
    }

    & input:not([type=checkbox]), & textarea {
        display: block;
        width: 100%;

        &:focus {
            border-color: $blue;
            box-shadow: 0 0 0 .2rem $light-blue;
        }
    }

    & input[type=checkbox] {
        margin-bottom: 0;
        margin-right: $spacing-small;
        vertical-align: middle;
    }

    & label {
        display: inline-block;
        font-size: $font-small;
        font-weight: 400;
        line-height: 1.5;
        text-transform: uppercase;
        vertical-align: middle;
    }

    & div.invalid {
        & input, & textarea {
            background-color: $washed-red;
            color: $red;
        }

        & ul {
            color: $red;
            list-style: none;
            margin: 0 0 $spacing-small;
            padding: 0;
        }
    }
}

form:not([itemprop="signout"]) {
    & button, a {
        background-color: $white;
        border-color: $muted;
        border-style: solid;
        border-width: 1px;
        color: $foreground;
        display: inline-block;
        padding: $spacing-small $spacing-medium;

        &:hover {
            cursor: pointer;
            text-decoration: none;
        }
    }
}

button, input:not([type=checkbox]) {
    -moz-appearance: none;
    -webkit-appearance: none;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

nav {
    color: $muted;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    line-height: 1rem;
    padding: $spacing-tiny;

    & div.session {
        flex-shrink: 0;
    }

    & ul {
        align-items: baseline;
        display: inline-flex;
        flex-direction: row;
        font-size: $font-small;
        list-style-type: none;
        margin: 0;
        padding: 0;

        &.quicklinks {
            margin-left: $spacing-tiny;

            &::before {
                content: "\007C";
                margin-right: $spacing-tiny;
            }

            & li > a {
                font-size: 0;

                &::before {
                    content: unread($blue);
                    display: inline-block;
                    vertical-align: middle;
                    width: $font-small;
                }
                &::after {
                    content: attr(data-count);
                    font-size: $font-tiny;
                    display: inline-block;
                    vertical-align: baseline;
                    margin-left: 0.5 * $spacing-tiny;
                }
                &:hover::after {
                    text-decoration: underline;
                }
            }
        }

        & li {
            align-items: baseline;
            display: inline-flex;
            list-style: none outside none;

            &:not(:first-child) {
                margin-left: $spacing-tiny;
            }

            &:not(:first-child)::before {
                content: "\007C";
                margin-right: $spacing-tiny;
            }

            & form {
                display: inline-block;
                padding: 0;

                & > button {
                    background-color: transparent;
                    border: none;
                    font-size: $font-small;
                    font-weight: normal;
                    padding: 0;
                    @extend a;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    & > div.breadcrumbs {
        display: inline-flex;
        flex-grow: 0;
        flex-wrap: wrap;

        & > a.brand {
            color: $foreground;
            flex-grow: 0;
            flex-shrink: 0;
            font-weight: bold;
            opacity: 1;
            transition: opacity .15s ease-in;

            // {{{ hack for degrading to favicon on small screens
            font-size: 0;

            @media #{$not-small} {
                font-size: $font-normal;
            }

            &::before {
                background-image: url("/_/images/favicon.svg");
                background-size: contain;
                display: inline-block;
                height: 1rem;
                width: 1rem;
                content: " ";

                @media #{$not-small} {
                  display: none;
                }
            }
            // }}}

            &:hover, &:focus {
                opacity: .5;
                text-decoration: none;
                transition: opacity .15s ease-in;
            }

            &:active {
                opacity: .8;
                transition: opacity .15s ease-out;
            }
        }

        & > div.context {
            display: inline-flex;
            flex-grow: 0;
            flex-wrap: wrap;

            & > span.title {
                color: $foreground;
                flex-grow: 0;
                line-break: strict;

                &::before {
                    color: $dark-pink;
                    content: "\203A";
                    font-size: $font-normal;
                    margin-left: $spacing-tiny;
                    margin-right: $spacing-tiny;
                }

                & > span {
                    font-size: $font-small;
                }
            }

            & > span.url {
                color: $foreground;
                flex-grow: 0;

                &::before {
                    color: $light-purple;
                    content: "\002F";
                    font-size: $font-normal;
                    margin-left: $spacing-tiny;
                    margin-right: $spacing-tiny;
                }

                & > a {
                    font-size: $font-small;
                }
            }


            & > span.user {
                flex-grow: 0;

                &::before {
                    color: $dark-red;
                    content: "\002F";
                    font-size: $font-normal;
                    margin-left: $spacing-tiny;
                    margin-right: $spacing-tiny;
                }

                & > a::before {
                    color: $dark-blue;
                    content: "\007E";
                }

                & > a {
                    font-size: $font-small;
                }
            }

            & ul.tags {
                flex-grow: 0;
                flex-wrap: wrap;

                & > li {

                    & > a {
                        font-size: $font-small;
                    }

                    &:first-child::before {
                        color: $dark-blue;
                        content: "\002F";
                        font-size: $font-normal;
                        margin-left: $spacing-tiny;
                        margin-right: $spacing-tiny;
                    }

                    &:not(:first-child)::before {
                        content: "\002B";
                        color: $dark-green;
                    }
                }
            }
        }
    }
}

div#content, div#controls {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    & aside {
        box-sizing: border-box;
        flex-basis: 19.5rem;
        flex-grow: 1;
        flex-shrink: 0;
        min-width: 19.5rem;

        @media #{$not-small} {
            max-width: 19.5rem;
            width: 19.5rem;
        }

        & h5 {
            border-top-color: $light-gray;
            border-top-style: solid;
            border-top-width: 1px;
        }

        & section {
            margin-bottom: $spacing-large;
        }

        & ul.tag-cloud {
            display: inline;
            font-size: $font-tiny;
            list-style: none;
            margin: 0;
            padding: 0;

            & li {
                display: inline-block;

                & a {
                    color: $purple;
                    display: inline;

                }

                &:not(:last-child) a::after {
                    content: ", ";
                }
            }
        }

        & div.explore {
            & > ul {
                align-items: baseline;
                display: inline-flex;
                flex-direction: row;
                font-size: $font-small;
                list-style-type: none;
                margin: 0;
                padding: 0;

                & > li {
                    align-items: baseline;
                    display: inline-flex;
                    list-style: none outside none;

                    & > a {
                        text-transform: lowercase;
                    }

                    &:not(:first-child) {
                        margin-left: $spacing-tiny;
                    }

                    &:not(:first-child)::before {
                        content: "\00B7";
                        margin-right: $spacing-tiny;
                    }
                }
            }
        }
    }

    & section {
        box-sizing: border-box;
        flex-shrink: 1;
        flex-grow: 1;
        min-width: 0;
    }

    @media #{$not-small} {
        flex-wrap: nowrap;
    }
}

div#controls {
    div.actions {
        border-color: transparent;
        border-style: solid;
        border-width: 1px;

        & > .button {
            width: 100%;
        }
    }
}

div.date-group {
    display: flex;
    flex-direction: column;

    @media #{$not-small} {
        flex-direction: row;
    }

    & h4.date {
        border-top-color: $light-gray;
        border-top-style: solid;
        border-top-width: 1px;
        color: $muted;
        font-weight: lighter;
        line-height: 1.2;
        margin-bottom: 2px;
        margin-top: 0;
        min-width: 6em;
        padding-top: 4px;
        text-align: left;

        & span {
            text-transform: uppercase;
            vertical-align: baseline;
        }

        @media #{$not-small} {
            width: 6em;
        }
    }
}

div.bookmarks {
    display: block flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
    min-width: 0;
}

div.bookmark-card {
    display: block flex;
    flex-flow: row-reverse;
    flex-grow: 1;
    justify-content: flex-end;

    & > .icons {
        border-top-color: $light-gray;
        border-top-style: solid;
        border-top-width: 1px;
        background-color: $washed-gray;
        max-width: $font-normal;
        min-width: $font-normal;
        padding-bottom: 2px;
        padding-top: 4px;

        & > span {
            display: inline-block;
            line-height: 1.2em;
            margin-bottom: 2px;
            margin-top: 2px;

            &[data-icon-type="private"] {
                content: hidden($blue);
            }

            &[data-icon-type="unread"] {
                content: later($blue);
            }
        }
    }
}

div.bookmark {
    flex-grow: 1.0;
    overflow: hidden;
    padding-bottom: 2px;
    position: relative;

    & > div {
        padding-left: $spacing-tiny;
    }

    @media #{$large} {
        padding-right: 2 * $spacing-large;
    }

    & > .title {
        border-top-color: $light-gray;
        border-top-style: solid;
        border-top-width: 1px;
        display: flex;
        justify-content: space-between;
        padding-top: 4px;

        @media #{$large} {
            position: relative;
            & a.savers[data-count="0"], & a.savers[data-count="1"]{
                display: none;
            }
            & a.savers {
                background-color: $blue;
                color: $white;
                display: block;
                font-size: $font-normal;
                font-weight: bold;
                padding: $spacing-tiny;
                margin-top: -5px;
                border-top: 1px;
                border-top-color: $dark-blue;
                border-top-style: solid;

                &::before {
                    content: attr(data-count);
                }

                &:hover {
                    background-color: $green;
                    border-top-color: $dark-green;
                    text-decoration: none;

                    @media #{$large} {
                        &::after {
                            color: $gray;
                            content: attr(data-label);
                            font-size: $font-tiny;
                            font-weight: normal;
                            margin-left: $spacing-tiny + $spacing-small;
                            margin-top: 2px;
                            position: absolute;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        & > h4 {
            flex-grow: 1;
            flex-shrink: 1;
            min-width: 10%;

            @include link-title();
        }
    }

    & > .full-url {
        @include link-url();
    }

    & > .description {
        font-size: $font-small;
        height: auto;
        line-height: 1.4em;
        overflow: hidden;
        padding-bottom: $spacing-tiny;
        //width: 100%;

        & p {
            margin: 0 0 0 0;
        }
    }

    & > .ownership {
        color: $muted;
        font-size: $font-tiny;
        margin-bottom: $spacing-tiny;

        & > span {
            display: inline;
        }

        & > span:not(:first-child)::before {
            content: "\00B7";
        }
    }

    & > .ownership > .savers {
        color: $muted;
        font-size: $font-tiny;
        margin-bottom: $spacing-tiny;

        @media #{$not-small} {
            display: none;
        }
    }

    .meta {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-top: 2px;

        @media #{$not-small} {
            justify-content: space-between;
        }

        & h5.label {
            @media #{$not-small} {
                display: none;
            }
        }

        & > div.actions {
            flex-shrink: 0;
            margin-right: $spacing-medium;

            @include link-actions();
        }

        & > div.tags {
            @media #{$not-small} {
                margin-left: auto;
            }

            & > ul.tags {
                display: inline;
                font-size: $font-tiny;
                list-style: none;
                margin: 0;
                padding: 0;

                @media #{$not-small} {
                    text-align: right;
                }

                @media #{$large} {
                    &:hover::after {
                        color: $gray;
                        content: attr(data-label);
                        font-size: $font-tiny;
                        font-weight: normal;
                        margin-top: 2px;
                        margin-left: $spacing-small;
                        position: absolute;
                        text-transform: uppercase;
                    }
                }

                & > li {
                    display: inline-block;

                    & > a {
                        color: $purple;
                        display: inline;

                    }

                    &:not(:last-child) > a::after {
                        content: ", ";
                    }
                }
            }
        }
    }
}

a.button {
    align-items: center;
    border-color: $near-black;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    display: inline-flex;
    padding: $spacing-small $spacing-medium;
    text-decoration: none;
    background-color: $white;

    &.fill {
        display: block;
        text-align: center;
        width: 100%;
    }

    & > span {
        padding-left: $spacing-small;
        padding-right: $spacing-small;
        text-align: center;
        width: 100%;
    }

    & > svg {
        width: 1rem;
    }

    &:hover, &:focus {
        cursor: pointer;
        text-decoration: none;
        box-shadow: 0 0 0 .2rem $light-blue;
    }

    &.primary {
        border-color: $navy;
        background-color: $blue;
        color: $white;

        &:hover, &:focus {
            transition: box-shadow .15s ease-in-out;
        }
    }
}

div.pagination {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
    padding-bottom: 1em;
    padding-top: 2.5em;

    & > span, & > a {
        padding: $spacing-small $spacing-medium;
    }

    & > a {
        text-decoration: none;

        &.active {
            background-color: $blue;
            color: $white;
        }

        &:hover {
            text-decoration: none;

            &:not(.active) {
                background-color: $light-gray;
            }
        }
    }
}

a.feed-link {
    &::before {
        content: rss($near-black);
        display: inline-block;
        vertical-align: middle;
        width: $font-normal;
        margin-right: 0.5 * $spacing-tiny;
    }
}

details {
    border-radius: 4px;
    border: 1px solid $light-gray;

    & > summary, & > dl {
        padding: $spacing-small;
    }

    &[open] > summary {
        border-bottom: 1px solid $light-gray;
    }

    &.error > summary {
        background-color: $light-red;
    }

    &.success > summary {
        background-color: $light-green;
    }

    & > dl {
        margin-top: 0;

        & > dt {
            border-top: 1px solid $light-gray;

            @include link-title();
        }

        & > dd {
            margin-left: 0;
            margin-bottom: $spacing-small;

            & > pre {
                background-color: $near-black;
                color: $white;
                font-size: $font-tiny;
                overflow-x: auto;
                white-space: pre-wrap;
            }

            & > .full-url {
                @include link-url();
            }

            @include link-actions();
        }
    }
}

div.navigation {
    display: flex;
    flex-direction: column;

    & > .navigation-header {
        display: inline-block;
        margin-bottom: 0;
    }

    & > ul.navigation-tabs {
        border-bottom-color: $light-gray;
        border-bottom-style: solid;
        border-bottom-width: 0.2rem;
        display: inline-flex;
        flex-direction: column;
        flex-grow: 1;
        flex-wrap: nowrap;
        margin: $spacing-tiny;
        padding: 0;
        width: inherit;

        @media #{$not-small} {
            flex-direction: row;
        }

        & > li {
            border-radius: 0;
            border: none;
            cursor: pointer;
            padding: 0.2rem 1rem 0;
            list-style: none;

            &.active, &:hover {
                background-color: $light-gray;
            }

            & > a {
                text-decoration: none;
            }
        }
    }

    & + hr + div {
        margin-top: 1em;
    }

    @media #{$not-small} {
        flex-direction: row;
    }
}

section.settings {
    &:first-child {
        margin-top: 0;
    }

    & h4 {
        border-bottom: 1px solid;
        border-bottom-color: $background;
        padding-bottom: $spacing-tiny;
    }

    & dl {
        & > dt {
            font-weight: bold;
        }
        & > dd {
            margin-bottom: $spacing-small;
            margin-left: 0;
        }
        margin-top: 0;
        margin-bottom: $spacing-medium;
    }

    & table {
        width: 100%;
        max-width: 100%;
        margin-bottom: $spacing-medium;
        border-collapse: collapse;

        & > thead > tr > th {
            &.btn-column {
                width: 6rem;
            }

            text-align: inherit;
            padding: $spacing-tiny $spacing-tiny;
            border: none;
        }

        & > tbody > tr > td {
            position: relative;
            vertical-align: middle;
            padding: $spacing-tiny $spacing-tiny;
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
        }
    }

    background: $light-gray;
    margin-top: $spacing-small;
    overflow-x: auto;
    padding: $spacing-small;
}

span.code {
    font-family: monospace, monospace;
}

form.inline {
    display: inline-block;
}