<h3>Profile</h3>
<%= form_for @changeset, Routes.user_path(@conn, :update), fn f -> %>
  <fieldset>
  <%= input f, :username, [name: "Username (you can't update this)", disabled: true] %>
  <%= input f, :email %>
  <%= input f, :bio, [placeholder: "Tell something about yourself", type: :textarea] %>
  </fieldset>
  <%= submit "Save" %>
<% end %>
