<.menu is_admin?={Linkhut.Accounts.is_admin?(@current_user)} request_path={@conn.request_path} />
<section class="settings">
  <h4>Operational Status</h4>
  <p>
    <a class="button" href={~p"/_/admin/dashboard/"} target="_blank">{gettext("Live Dashboard")}</a>
  </p>
</section>
<.moderation_dashboard form={@form} banned_users={@banned_users} />
