<div>
  <h3>Registration</h3>
  <%= form_for @changeset, Routes.registration_path(@conn, :create), fn f -> %>
    <fieldset>
      <%= input(f, :username) %>
      <%= inputs_for f, :credential, fn cf -> %>
        <%= input(cf, :email) %>
        <%= input(cf, :password) %>
      <% end %>
    </fieldset>
    <%= submit("Submit") %>
  <% end %>
</div>
