<%= if info = get_flash(@conn, :info) do %>
<div class="info">
    <span role="alert"><%= info %></span>
</div>
<% end %>
<%= if error = get_flash(@conn, :error) do %>
<div class="error">
    <span role="alert"><%= error %></span>
</div>
<% end %>
