<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" sizes="any" type="image/svg+xml" href="<%= Routes.static_path(@conn, "/images/favicon.svg") %>" />
    <title>linkhut</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a class="brand" href="/">linkhut</a>
        </div>
        <div>
          <%= render "_session.html", assigns %>
        </div>
      </nav>
      <%= render "_alerts.html", conn: @conn %>
    </header>
    <main>
      <%= @inner_content %>
    </main>
    <footer>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
