<.menu is_admin?={Linkhut.Accounts.is_admin?(@current_user)} request_path={@conn.request_path} />
<section class="settings">
  <h4>An error occured</h4>
  <p>
    An error occurred processing a request to authorize third party access to your account. This is generally not a problem with linkhut, but with the application.
  </p>

  <p>
    {@error.error_description}
  </p>
</section>
