<%= render("_menu.html", assigns) %>
<section class="settings">
  <h4>Operational Status</h4>
  <p>
    <a class="button" href={Routes.live_dashboard_path(@conn, :home)} target="_blank">Live Dashboard</a>
  </p>
</section>
