<%= render("_menu.html", assigns) %>
<section class="settings">
  <h4>Operational Status</h4>
  <p>
    <a class="button" href={~p"/_/admin/dashboard/"} target="_blank"><%= gettext("Live Dashboard") %></a>
  </p>
</section>
