<%= render "_menu.html", conn: @conn %>
<div>
    <p>
        Export your bookmarks in the <a class="doc" href="https://en.wikipedia.org/wiki/Bookmark_(digital)#Storage">Netscape format</a>.
    </p>
    <a class="button" download="bookmarks.html" href="<%= Routes.export_path(@conn, :download) %>">Download</a>
</div>
