<%= render("_menu.html", assigns) %>
<div>
  <section class="">
    <p>
      Import bookmarks in the <a class="doc" href="https://en.wikipedia.org/wiki/Bookmark_(digital)#Storage">Netscape format</a>.
    </p>
    <%= form_for :upload, Routes.import_path(@conn, :upload), [multipart: true], fn f -> %>
      <fieldset>
        <%= input(f, :file, type: :file_input) %>
      </fieldset>
      <%= submit("Import") %>
    <% end %>
  </section>
</div>
