<%= render("_menu.html", conn: @conn) %>
<div>
  <%= form_for @changeset, Routes.profile_path(@conn, :update), fn f -> %>
    <fieldset>
      <%= input(f, :username, disabled: true) %>
      <%= inputs_for f, :credential, fn cf -> %>
        <%= input(cf, :email) %>
      <% end %>
      <%= input(f, :bio, placeholder: "Tell something about yourself", type: :textarea) %>
    </fieldset>
    <%= submit("Save") %>
  <% end %>
</div>
