<%= render "_search.html", conn: @conn %>
<div id="content">
  <section>
    <h1><%= gettext "%{name}'s bookmarks", name: @user.username %></h1>
    <%= Enum.map(@links, fn {date, links} -> %>
    <div class="date-group">
      <h4 class="date"><span><%= prettify(date) %></span></h4>
      <%= render "_bookmarks.html", Map.put(assigns, :links, links) %>
    </div>
    <% end) %>
  </section>
  <%= render "_user-info.html", assigns %>
</div>


